.section {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
  background-color: rgb(253, 253, 253);
}

.field {
  display: flex;
  flex-direction: column;
}

.btn-container {
  display: flex;
  justify-content: center;
}

textarea {
  resize: vertical; /* Allows vertical resizing */
  overflow: auto; /* Adds a scrollbar if necessary */
}

.info-display {
  margin-top: 10px;
}

.info-display.edu-exp {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.info-display p {
  margin: 5px 0;
}

.btn-container button {
  margin-top: 10px;
}
