#root {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2em;
}

.side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.main {
  background-color: #e9e9e9;
}
